/* Login.css */

/* Container styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  /* Form styles */
  .login {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
  }
  
  .login h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login input {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login button {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login button:hover {
    background-color: #0056b3;
  }
  
  .login p {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
  }
  
  /* Link styles */
  .login a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .login a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
  